body {
    background-image: url("../resources/images/background4.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 135%;
}

header {
    padding: 0.7rem;
    overflow: auto;
    clear: both;
    background-color:#0099FF;
}

header div {
    float: right;
}

header nav {
    float: left;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    cursor: pointer;
    display: inline;
}

header nav ul a:hover {
    background-color:#0066FF;
}

header ul a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.7rem;
    text-align: center;
    font-size: 1.2rem;
}

#register-area {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.3);
}

#register-area h1 {
    text-align: center;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
}

.register-input, #register-area, #recaptcha {
    float: left;
    clear: both;
}

.register-input {
    width: 20rem;
    margin: 0.5rem 3rem;
    padding: 0.5rem;
    background:rgba(0,0,0,0.6);
    color: #FFFFFF;
    border: 0;
}

#register-area textarea {
    resize: none;
}

#register-area #register {
    width: 15rem;
    margin: 0.5rem 0;
    margin-left: 6rem;
    font-size: 1.0rem;
    color: #FFFFFF;
}

#register-area #register:hover {
    background-color:#0066FF;
}

.errormsg {
    background: rgba(207, 43, 45, 0.4);
    padding: 0.1rem 0.5rem;
    max-width: 20rem;
    display: none;
}

#register-area .errormsg {
    float: left;
    clear: both;
    position: relative;
    left: 3rem;
}

#register-area #recaptcha {
    position: relative;
    left: 3.5rem;
}

#search {
    text-align: center;
}

#search h2 {
    margin: 2rem 0;
    font-size: 2rem;
    color: rgba( 0, 0, 0, 0.8);
}

#search_results {
    width: 50rem;
    margin: 1rem auto;
    color: rgba(255, 255, 255, 1.0);
    background: rgba(0, 0, 0, 0.6);
}

#search_results ul {
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}

#search_results li {
    width: 50rem;
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.6rem 0;
}

#search_results li p {
  font-size: 1rem;
  margin: 0;
}


#search_results #pollName {
  font-size: 1.2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#search_results #image img {
  float: left;
  clear: left;
  width: 3.9rem;
  height: 3.9rem;
}

#search_results #visibility {
  float: left;
  margin: 0 1rem;
}

#search_results #date {
  float: right;
  margin: 0 1rem;
}

#search_results li:hover {
    background: #999;
}

.poll-info h2 {
  margin: 1.6rem 0;
  font-size: 1.7rem;
  color: rgba( 0, 0, 0, 0.8);
  line-height: 100%;
}

.poll-info #visibility {
  border-radius: 0.30em;
  vertical-align: middle;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.poll-info label {
    font-size: 1.1rem;
}

.poll-info #state {
  display: inline;
  background: none;
  margin: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.poll-info img {
  max-width: 50rem;
  max-height: 50rem;
}

.poll-info #synopsis {
  max-width: 50rem;
  background: rgba(0, 0, 255, 0.4);
  color: white;
  font-size: 1.1rem;
}

.poll-question {
  background: rgba(255, 255, 255, 0.8);
  max-width: 47rem;
  padding: 1.5rem;
  margin: 0.5rem 0;
}

.poll-question h3 {
  margin: 0;
  font-size: 1.1rem;
}

.poll-question label {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.4rem;
  cursor: pointer;
  color: rgba( 0, 0, 0, 0.7);
}

.poll-question input[type=radio] {
  display: none;
}

.poll-question input[type=radio] + label:before {
  content: "";
  float: left;
  width: 1.0rem;
  height: 1.0rem;
  border-radius: 0.30em;
  font-size: 1.2rem;
  margin: 0.3rem 0.8rem;
  background-color: #66CCFF;
}

input[type=radio]:checked + label:before {
  content: "\2713";
  color: white;
  text-align: center;
  line-height: 1.2rem;
}

.poll-submit input[type=submit] {
  border: 0;
  border-radius: 0.3rem;
  background: #0066FF;
  font-size: 1.3rem;
  color: white;
}

.poll-submit input[type=submit]:hover {
  opacity: 0.7;
}

.invalid {
    box-shadow: 0 0 1.5px 1px red;
}

.poll-info {
    display: inline;
}

.poll-info textarea {
  resize: none;
  width: 10rem;
  height: 3rem;
  padding: 0.5rem;
  background:rgba(0,0,0,0.6);
  color: #FFFFFF;
  border: 0;
}

.poll-question textarea {
    resize: none;
    width: 30rem;
    height: 3rem;
    padding: 0.5rem;
    background:rgba(0,0,0,0.6);
    color: #FFFFFF;
    border: 0;
}

.poll-question h2 {
  margin: 0;
  font-size: 1.2rem;
}
