body {
    background-image: url("../resources/images/background2.jpg");
    width: 90%;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    line-height: 135%;
}

header {
    padding: 10px;
    overflow: auto;
    clear: both;
    background-color:#0099FF;
}

header div {
    float: right;
}

header nav {
    float: left;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    cursor: pointer;
    display: inline;
}

header nav ul a:hover {
    background-color:#0066FF;
}

header ul a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.7rem;
    text-align: center;
    font-size: 1.2rem;
}

#register-area {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.3);
}

#register-area h1 {
    text-align: center;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.8);
}

#register-area form input, textarea, #recaptcha {
    float: left;
    clear: both;
}

#register-area form input, textarea {
    width: 20rem;
    margin: 0.5rem 3rem;
    padding: 0.5rem;
    background:rgba(0,0,0,0.6);
    color: #FFFFFF;
    border: 0;
}

#register-area form textarea{
    resize: none;
}

#register-area form #register {
    width: 15rem;
    margin: 0.5rem 0;
    margin-left: 6rem;
    color: #FFFFFF;
}

#register-area form #register:hover {
    background-color:#0066FF;
}

#register-area .errormsg {
    float: left;
    clear: both;
    /*color: rgba(255, 0, 0, 1.0);*/
    background: rgba(207, 43, 45, 0.4);
    display: none;
    position: relative;
    left: 3rem;
    max-width: 20rem;
    padding: 0.1rem 0.5rem;
}

#register-area form #recaptcha {
    position: relative;
    left: 3.5rem;
}

#register-area form #recaptcha input {
    background-color: white;
    color: black;
}

#search {
    text-align: center;
}

#search h2 {
    margin: 2rem 0;
    font-size: 2rem;
    color: rgba( 0, 0, 0, 0.8);
}

#search_results {
    width: 50rem;
    margin: 1rem auto;
    color: rgba(255, 255, 255, 1.0);
    background: rgba(0, 0, 0, 0.6);
}

#search_results ul {
    margin: 0 auto;
    padding: 0;
    max-width: 300px;
    max-height: 300px;
    overflow: auto;
}

#search_results li {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
}

#search_results li:hover {
    background: #999;
}

.poll-question {
  background: #FFFFFF;
  max-width: 250px;
  padding: 25px;
  margin: 10px 0px;
}

.poll-question label {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  cursor: pointer;
  color: rgba( 0, 0, 0, 0.7);
}

.poll-question label:hover {
  font-size: 20px;
  color: rgba( 0, 0, 255, 0.7);
}

.poll-question input[type=radio] {
  display: none;
}

.poll-question label:before {
  content: "";
  width: 14px;
  height: 14px;
  float: left;
  margin: 5px 10px;
  background-color: #66CCFF;
}

.poll-question input[type=radio]:checked {
  color: #F3F3F3;
}

#poll h2 {
  margin: 40px 0px;
  font-size: 26px;
  color: rgba( 255, 255, 255, 0.8);
}

.poll-submit input[type=submit] {
  border: 0px;
  border-radius: 5px;
  background: #0066FF;
  font-size: 24px;
  color: white;
}

.poll-submit input[type=submit]:hover {
  opacity: 0.5;
}

.invalid {
    box-shadow: 0 0 1.5px 1px red;
}
